## New LS4 (0915) : 감정인데이터 기준으로 (2) 사용&제외 총 164개 결과

### 0916 1230 지하수 2개 관측치 제거
### 0916 1335 점검정비 55개? 포함

In [248]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
from stargazer.stargazer import Stargazer
from scipy.stats import f

pd.set_option('Display.max_columns', 100)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [266]:
dfReg = pd.read_excel("./교수님 전달 파일/0914 datafile excluded version.xlsx", sheet_name=None, header = 4)
#dfReg = pd.read_excel("./교수님 전달 파일/0915 datafile excluded version dmaintain.xlsx", sheet_name=None, header = 4)

In [267]:
dfReg.keys()

dict_keys(['2011년', '2012년', '2013년', '2014년', '2015년', '2016년', '2017년', '2018년', '2019년', '2020년', '2021년'])

In [268]:
raw = pd.concat(dfReg, ignore_index=True)

In [269]:
df_raw = raw[['공고명','낙찰율(예대)','연도','기초금액','1순위투찰금액','업체수','담합','점검정비']]
df_raw.head(3)

,공고명,낙찰율(예대),연도,기초금액,1순위투찰금액,업체수,담합,점검정비
0,동부엔바이로 탈수슬러지 위탁처리 용역 [공가],0.98573,2011,1667277480,1654180000,3,0,0
1,(재공고)동부엔바이로 탈수슬러지 위탁처리 용역 [공가],0.99842,2011,1667277480,1654180000,2,0,0
2,"서울시 양재대로 수도권 2,3단계 관로이설공사 책임감리용역",0.77106,2011,1514040000,1176800000,3,0,0

In [270]:
df_raw.loc[df_raw['담합'] == 1]

,공고명,낙찰율(예대),연도,기초금액,1순위투찰금액,업체수,담합,점검정비
27,XXX,0.87130,2011,13465052000,11732100000,2,1,1
28,XXX,0.87950,2011,13630358000,11987900000,2,1,1
29,XXX,0.86310,2011,3218051000,2777500000,2,1,1
30,XXX,0.86440,2011,6026145000,5209000000,2,1,1
31,XXX,0.85160,2011,11462071000,9761100000,2,1,1
32,XXX,0.87500,2011,7154171000,6259900000,2,1,1
33,XXX,0.87140,2011,6558228000,5714840000,2,1,1
38,수도 및 댐.보시설 점검정비용역(제1권역) [공가][PQ],0.84834,2012,13771384000,11758008000,2,1,1
39,수도 및 댐.보시설 점검정비용역(제2권역) [정][공가][PQ],0.87084,2012,15901930000,13926910000,2,1,1
40,수도 및 댐.보시설 점검정비용역(제3권역) [정][공가][PQ],0.85247,2012,6136592000,5277360000,2,1,1
41,수도 및 댐.보시설 점검정비용역(제4권역) [정][공가][PQ],0.86565,2012,11605946000,10149284000,2,1,1
42,수도 및 댐.보시설 점검정비용역(제5권역) [정][공가][PQ],0.86741,2012,14333451000,12534603000,2,1,1
43,수도 및 댐.보시설 점검정비용역(제6권역) [정][공가][PQ],0.85656,2012,7150594000,6113686000,2,1,1
44,수도 및 댐.보시설 점검정비용역(제7권역) [공가][PQ],0.85331,2012,8504551000,7230484000,2,1,1
56,(재공고)지하수 관측망 점검정비 용역(12~13) [공가][PQ],0.90325,2012,4123000000,3688300000,2,1,1
80,수도 및 댐.보시설 점검정비 용역(제1권역) [정][제한][공가][PQ],0.85036,2013,26305488000,22228129000,2,1,1
81,수도 및 댐.보시설 점검정비 용역(제2권역) [정][제한][공가][PQ],0.84807,2013,27629228000,23457214000,2,1,1
82,수도 및 댐.보시설 점검정비 용역(제3권역) [정][제한][공가][PQ],0.83712,2013,8836509000,7413824000,2,1,1
83,수도 및 댐.보시설 점검정비 용역(제4권역) [정][제한][공가][PQ],0.85009,2013,18972349000,16069570000,2,1,1
84,수도 및 댐.보시설 점검정비 용역(제5권역) [정][제한][공가][PQ],0.85487,2013,24876379000,21219550000,2,1,1
85,수도 및 댐.보시설 점검정비 용역(제6권역) [정][제한][공가][PQ],0.84541,2013,12129469000,10297914000,2,1,1
86,수도 및 댐.보시설 점검정비용역(제7권역) [정][제한][공가][PQ],0.84276,2013,15894131000,13389211000,2,1,1
131,지하수 관측망 점검정비(14~15)용역 [PQ],0.90351,2014,4181900000,3751000000,2,1,1
147,수도 및 댐보시설 점검정비용역(제1권역) [정][제한][공가][PQ],0.79187,2015,17285565000,13557995000,2,1,1
148,수도 및 댐보시설 점검정비용역(제2권역) [정][제한][공가][PQ],0.78134,2015,17943145000,13982991000,2,1,1
149,수도 및 댐보시설 점검정비용역(제3권역) [정][제한][공가][PQ],0.79083,2015,6233172000,4889830000,2,1,1
150,수도 및 댐보시설 점검정비용역(제4권역) [정][제한][공가][PQ],0.77541,2015,15973584000,12528010000,2,1,1
151,수도 및 댐보시설 점검정비용역(제5권역) [정][제한][공가][PQ],0.79594,2015,18925148000,14942994000,2,1,1
152,수도 및 댐보시설 점검정비용역(제6권역) [정][제한][공가][PQ],0.78401,2015,8610800000,6734508000,2,1,1
197,수도 및 댐.보시설 점검정비용역(제3권역) [제한][공가][PQ],0.78399,2016,10686709000,8389062000,2,1,1

In [271]:
# df_raw.loc[df_raw['공고명'].str.contains("지하수 기초조사") | 
#            df_raw['공고명'].str.contains("시설 전수조사") | 
#            df_raw['공고명'].str.contains("관측망") | 
#            df_raw['공고명'].str.contains("정밀안전") | 
#            df_raw['공고명'].str.contains("GIS") |
#            df_raw['공고명'].str.contains("내진") |
#            df_raw['공고명'].str.contains("사후환경") |
#            df_raw['공고명'].str.contains("기술진단") | 
#            df_raw['공고명'].str.contains("시설안정화") |
#            df_raw['공고명'].str.contains("건설사업관리") |
#            df_raw['공고명'].str.contains("댐비상대처") |
#            df_raw['공고명'].str.contains("물 진단고도화") |
#            df_raw['공고명'].str.contains("환경영향평가") |
#            df_raw['공고명'].str.contains("관망정비 현장조사") |
#            df_raw['공고명'].str.contains("관로이설공사") |
#            df_raw['공고명'].str.contains("해양환경영향조사") |
#            df_raw['공고명'].str.contains("송산그린시티") |
#            df_raw['공고명'].str.contains("시공감리")]

In [272]:
"""@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 실시설계용역 164개 제외 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@"""

df_raw = df_raw.loc[df_raw['공고명'].str.contains("지하수 기초조사") | 
           df_raw['공고명'].str.contains("시설 전수조사") | 
           df_raw['공고명'].str.contains("관측망") | 
           df_raw['공고명'].str.contains("정밀안전") | 
           df_raw['공고명'].str.contains("GIS") |
           df_raw['공고명'].str.contains("내진") |
           df_raw['공고명'].str.contains("사후환경") |
           df_raw['공고명'].str.contains("기술진단") | 
           df_raw['공고명'].str.contains("시설안정화") |
           df_raw['공고명'].str.contains("건설사업관리") |
           df_raw['공고명'].str.contains("댐비상대처") |
           df_raw['공고명'].str.contains("물 진단고도화") |
           df_raw['공고명'].str.contains("환경영향평가") |
           df_raw['공고명'].str.contains("관망정비 현장조사") |
           df_raw['공고명'].str.contains("관로이설공사") |
           df_raw['공고명'].str.contains("해양환경영향조사") |
           df_raw['공고명'].str.contains("송산그린시티") |
           df_raw['공고명'].str.contains("시공감리") |
           df_raw['담합'] == 1
           ]
df_raw.shape

(202, 8)

In [273]:
df_raw['담합'].sum() ,df_raw['점검정비'].sum() # 30 & 44 ok

(30, 30)

In [274]:
df_raw.loc[df_raw['담합'] == 1]

,공고명,낙찰율(예대),연도,기초금액,1순위투찰금액,업체수,담합,점검정비
27,XXX,0.87130,2011,13465052000,11732100000,2,1,1
28,XXX,0.87950,2011,13630358000,11987900000,2,1,1
29,XXX,0.86310,2011,3218051000,2777500000,2,1,1
30,XXX,0.86440,2011,6026145000,5209000000,2,1,1
31,XXX,0.85160,2011,11462071000,9761100000,2,1,1
32,XXX,0.87500,2011,7154171000,6259900000,2,1,1
33,XXX,0.87140,2011,6558228000,5714840000,2,1,1
38,수도 및 댐.보시설 점검정비용역(제1권역) [공가][PQ],0.84834,2012,13771384000,11758008000,2,1,1
39,수도 및 댐.보시설 점검정비용역(제2권역) [정][공가][PQ],0.87084,2012,15901930000,13926910000,2,1,1
40,수도 및 댐.보시설 점검정비용역(제3권역) [정][공가][PQ],0.85247,2012,6136592000,5277360000,2,1,1
41,수도 및 댐.보시설 점검정비용역(제4권역) [정][공가][PQ],0.86565,2012,11605946000,10149284000,2,1,1
42,수도 및 댐.보시설 점검정비용역(제5권역) [정][공가][PQ],0.86741,2012,14333451000,12534603000,2,1,1
43,수도 및 댐.보시설 점검정비용역(제6권역) [정][공가][PQ],0.85656,2012,7150594000,6113686000,2,1,1
44,수도 및 댐.보시설 점검정비용역(제7권역) [공가][PQ],0.85331,2012,8504551000,7230484000,2,1,1
56,(재공고)지하수 관측망 점검정비 용역(12~13) [공가][PQ],0.90325,2012,4123000000,3688300000,2,1,1
80,수도 및 댐.보시설 점검정비 용역(제1권역) [정][제한][공가][PQ],0.85036,2013,26305488000,22228129000,2,1,1
81,수도 및 댐.보시설 점검정비 용역(제2권역) [정][제한][공가][PQ],0.84807,2013,27629228000,23457214000,2,1,1
82,수도 및 댐.보시설 점검정비 용역(제3권역) [정][제한][공가][PQ],0.83712,2013,8836509000,7413824000,2,1,1
83,수도 및 댐.보시설 점검정비 용역(제4권역) [정][제한][공가][PQ],0.85009,2013,18972349000,16069570000,2,1,1
84,수도 및 댐.보시설 점검정비 용역(제5권역) [정][제한][공가][PQ],0.85487,2013,24876379000,21219550000,2,1,1
85,수도 및 댐.보시설 점검정비 용역(제6권역) [정][제한][공가][PQ],0.84541,2013,12129469000,10297914000,2,1,1
86,수도 및 댐.보시설 점검정비용역(제7권역) [정][제한][공가][PQ],0.84276,2013,15894131000,13389211000,2,1,1
131,지하수 관측망 점검정비(14~15)용역 [PQ],0.90351,2014,4181900000,3751000000,2,1,1
147,수도 및 댐보시설 점검정비용역(제1권역) [정][제한][공가][PQ],0.79187,2015,17285565000,13557995000,2,1,1
148,수도 및 댐보시설 점검정비용역(제2권역) [정][제한][공가][PQ],0.78134,2015,17943145000,13982991000,2,1,1
149,수도 및 댐보시설 점검정비용역(제3권역) [정][제한][공가][PQ],0.79083,2015,6233172000,4889830000,2,1,1
150,수도 및 댐보시설 점검정비용역(제4권역) [정][제한][공가][PQ],0.77541,2015,15973584000,12528010000,2,1,1
151,수도 및 댐보시설 점검정비용역(제5권역) [정][제한][공가][PQ],0.79594,2015,18925148000,14942994000,2,1,1
152,수도 및 댐보시설 점검정비용역(제6권역) [정][제한][공가][PQ],0.78401,2015,8610800000,6734508000,2,1,1
197,수도 및 댐.보시설 점검정비용역(제3권역) [제한][공가][PQ],0.78399,2016,10686709000,8389062000,2,1,1

In [275]:
df_raw.isna().sum()

공고명        0
낙찰율(예대)    4
연도         0
기초금액       0
1순위투찰금액    0
업체수        0
담합         0
점검정비       0
dtype: int64

### 0. 유찰된 데이터 제거 및 확인

In [276]:
df_temp1 = df_raw.loc[(df_raw['1순위투찰금액'] != 0) & (df_raw['낙찰율(예대)'].isna() != True), ['낙찰율(예대)','연도', '기초금액', '업체수', '담합', '점검정비']]
df_temp1.head(3)
df_temp1.shape

(198, 6)

In [278]:
(df_temp1['담합'] == df_temp1['점검정비']).sum()

198

In [228]:
""" 담합 데이터 2개 제거 """

df_temp1 = df_temp1.loc[~((df_temp1['담합'] == 1) & (df_temp1['낙찰율(예대)'] > 0.9))]
df_temp1.shape

(196, 6)

In [229]:
df_temp1.loc[df_temp1['기초금액'] < 1000000000] # 10억보다 작은 금액 존재 X

Empty DataFrame
Columns: [낙찰율(예대), 연도, 기초금액, 업체수, 담합, 점검정비]
Index: []

In [230]:
df_temp1['연도'].unique()

array([2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021],
      dtype=int64)

### 1. 연도별 더미 생성

In [231]:
df_temp2 = df_temp1.copy()
df_temp2[['d2011','d2012','d2013','d2014','d2015','d2016','d2017','d2018','d2019','d2020']] = 0
df_temp2.loc[df_temp2['연도'] == 2011, 'd2011'] = 1 
df_temp2.loc[df_temp2['연도'] == 2012, 'd2012'] = 1 
df_temp2.loc[df_temp2['연도'] == 2013, 'd2013'] = 1 
df_temp2.loc[df_temp2['연도'] == 2014, 'd2014'] = 1 
df_temp2.loc[df_temp2['연도'] == 2015, 'd2015'] = 1 
df_temp2.loc[df_temp2['연도'] == 2016, 'd2016'] = 1 
df_temp2.loc[df_temp2['연도'] == 2017, 'd2017'] = 1 
df_temp2.loc[df_temp2['연도'] == 2018, 'd2018'] = 1 
df_temp2.loc[df_temp2['연도'] == 2019, 'd2019'] = 1 
df_temp2.loc[df_temp2['연도'] == 2020, 'd2020'] = 1

In [232]:
df_temp2.head(3)

,낙찰율(예대),연도,기초금액,업체수,담합,점검정비,d2011,d2012,d2013,d2014,d2015,d2016,d2017,d2018,d2019,d2020
2,0.77106,2011,1514040000,3,0,0,1,0,0,0,0,0,0,0,0,0
8,0.76853,2011,1429000000,2,0,0,1,0,0,0,0,0,0,0,0,0
9,0.74321,2011,1346000000,2,0,0,1,0,0,0,0,0,0,0,0,0

### 2. 규모 더미 생성 (33% & 66% Quantile)

In [233]:
df_temp2['기초금액'].sort_values().quantile([.33, .66])

0.33000   1424941400.00000
0.66000   2733167400.00000
Name: 기초금액, dtype: float64

In [234]:
df_temp3 = df_temp2.copy()
df_temp3['d33'] = 0
df_temp3['d66'] = 0

df_temp3.loc[df_temp3['기초금액'] < df_temp2['기초금액'].sort_values().quantile(.33), 'd33'] = 1
df_temp3.loc[(df_temp3['기초금액'] > df_temp2['기초금액'].sort_values().quantile(.33)) & (df_temp3['기초금액'] < df_temp2['기초금액'].sort_values().quantile(.66)), 'd66'] = 1
df_temp3

,낙찰율(예대),연도,기초금액,업체수,담합,점검정비,d2011,d2012,d2013,d2014,d2015,d2016,d2017,d2018,d2019,d2020,d33,d66
2,0.77106,2011,1514040000,3,0,0,1,0,0,0,0,0,0,0,0,0,0,1
8,0.76853,2011,1429000000,2,0,0,1,0,0,0,0,0,0,0,0,0,0,1
9,0.74321,2011,1346000000,2,0,0,1,0,0,0,0,0,0,0,0,0,1,0
13,0.81166,2011,1140700000,2,0,0,1,0,0,0,0,0,0,0,0,0,1,0
27,0.87130,2011,13465052000,2,1,1,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,0.79326,2021,2213000000,3,0,0,0,0,0,0,0,0,0,0,0,0,0,1
592,0.81056,2021,4138800000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
593,0.81866,2021,4442000000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
594,0.82457,2021,3507000000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
597,0.81188,2021,4409530000,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### 3. 업체수 규제 (완전 제거 & 20으로 고정)

In [235]:
df_temp4 = df_temp3.copy()

In [236]:
# 3-2. dnumfirm2 : 업체수 20 이상은 NAN 으로 값 줘서 추후 삭제
df_temp4['dnumfirm2'] = np.nan
df_temp4.loc[df_temp4['업체수'] <= 20, 'dnumfirm2'] = df_temp4.loc[df_temp4['업체수'] <= 20, '업체수']
df_temp4 = df_temp4.dropna()
df_temp4.shape

(181, 19)

### 4. Linear Regression 준비 위한 dataframe 재정비

In [237]:
df_temp5 = df_temp4[['낙찰율(예대)','담합', '기초금액','dnumfirm2','d2011','d2012','d2013','d2014','d2015','d2016','d2017','d2018','d2019','d2020','d33','d66','점검정비']]
df_temp5 = df_temp5.copy()
df_temp5['낙찰율'] = df_temp5['낙찰율(예대)']*100
df_temp5['ln기초금액'] = np.log(df_temp5['기초금액'])
df_temp5 = df_temp5.rename(columns = {"낙찰율" : "tenderRatio", "담합" : "Collusion", "ln기초금액" : "LnCash", "점검정비" : "dmaintain"})
df_temp5.head()

,낙찰율(예대),Collusion,기초금액,dnumfirm2,d2011,d2012,d2013,d2014,d2015,d2016,d2017,d2018,d2019,d2020,d33,d66,dmaintain,tenderRatio,LnCash
2,0.77106,0,1514040000,3.00000,1,0,0,0,0,0,0,0,0,0,0,1,0,77.10555,21.13805
8,0.76853,0,1429000000,2.00000,1,0,0,0,0,0,0,0,0,0,0,1,0,76.85339,21.08024
9,0.74321,0,1346000000,2.00000,1,0,0,0,0,0,0,0,0,0,1,0,0,74.32124,21.02040
13,0.81166,0,1140700000,2.00000,1,0,0,0,0,0,0,0,0,0,1,0,0,81.16553,20.85491
27,0.87130,1,13465052000,2.00000,1,0,0,0,0,0,0,0,0,0,0,0,1,87.13000,23.32336

In [238]:
df_temp5['dnumfirm2'].isna().sum() #60
df_temp5.shape # 640

(181, 19)

In [239]:
df_temp5.isna().sum()

낙찰율(예대)        0
Collusion      0
기초금액           0
dnumfirm2      0
d2011          0
d2012          0
d2013          0
d2014          0
d2015          0
d2016          0
d2017          0
d2018          0
d2019          0
d2020          0
d33            0
d66            0
dmaintain      0
tenderRatio    0
LnCash         0
dtype: int64

In [240]:
df_temp5['Collusion'].sum()

28

### 4-1. 연도별 더미 추가 생성

In [241]:
df_temp5.head(3)

,낙찰율(예대),Collusion,기초금액,dnumfirm2,d2011,d2012,d2013,d2014,d2015,d2016,d2017,d2018,d2019,d2020,d33,d66,dmaintain,tenderRatio,LnCash
2,0.77106,0,1514040000,3.00000,1,0,0,0,0,0,0,0,0,0,0,1,0,77.10555,21.13805
8,0.76853,0,1429000000,2.00000,1,0,0,0,0,0,0,0,0,0,0,1,0,76.85339,21.08024
9,0.74321,0,1346000000,2.00000,1,0,0,0,0,0,0,0,0,0,1,0,0,74.32124,21.02040

In [242]:
df_temp6 = df_temp5.copy() 

df_temp6[['db2013','db2014','db2017_a', 'db2017_b']] = 0

df_temp6.loc[df_temp6['d2011'] == 1, 'db2013'] =1
df_temp6.loc[df_temp6['d2012'] == 1, 'db2013'] =1
df_temp6.loc[df_temp6['d2013'] == 1, 'db2013'] =1

df_temp6.loc[df_temp6['d2011'] == 1, 'db2014'] =1
df_temp6.loc[df_temp6['d2012'] == 1, 'db2014'] =1
df_temp6.loc[df_temp6['d2013'] == 1, 'db2014'] =1
df_temp6.loc[df_temp6['d2014'] == 1, 'db2014'] =1

df_temp6.loc[df_temp6['d2014'] == 1, 'db2017_a'] =1
df_temp6.loc[df_temp6['d2015'] == 1, 'db2017_a'] =1
df_temp6.loc[df_temp6['d2016'] == 1, 'db2017_a'] =1
df_temp6.loc[df_temp6['d2017'] == 1, 'db2017_a'] =1

df_temp6.loc[df_temp6['d2015'] == 1, 'db2017_b'] =1
df_temp6.loc[df_temp6['d2016'] == 1, 'db2017_b'] =1
df_temp6.loc[df_temp6['d2017'] == 1, 'db2017_b'] =1

df_temp6

,낙찰율(예대),Collusion,기초금액,dnumfirm2,d2011,d2012,d2013,d2014,d2015,d2016,d2017,d2018,d2019,d2020,d33,d66,dmaintain,tenderRatio,LnCash,db2013,db2014,db2017_a,db2017_b
2,0.77106,0,1514040000,3.00000,1,0,0,0,0,0,0,0,0,0,0,1,0,77.10555,21.13805,1,1,0,0
8,0.76853,0,1429000000,2.00000,1,0,0,0,0,0,0,0,0,0,0,1,0,76.85339,21.08024,1,1,0,0
9,0.74321,0,1346000000,2.00000,1,0,0,0,0,0,0,0,0,0,1,0,0,74.32124,21.02040,1,1,0,0
13,0.81166,0,1140700000,2.00000,1,0,0,0,0,0,0,0,0,0,1,0,0,81.16553,20.85491,1,1,0,0
27,0.87130,1,13465052000,2.00000,1,0,0,0,0,0,0,0,0,0,0,0,1,87.13000,23.32336,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,0.79326,0,2213000000,3.00000,0,0,0,0,0,0,0,0,0,0,0,1,0,79.32577,21.51761,0,0,0,0
592,0.81056,0,4138800000,2.00000,0,0,0,0,0,0,0,0,0,0,0,0,0,81.05565,22.14367,0,0,0,0
593,0.81866,0,4442000000,2.00000,0,0,0,0,0,0,0,0,0,0,0,0,0,81.86577,22.21437,0,0,0,0
594,0.82457,0,3507000000,2.00000,0,0,0,0,0,0,0,0,0,0,0,0,0,82.45703,21.97803,0,0,0,0
597,0.81188,0,4409530000,6.00000,0,0,0,0,0,0,0,0,0,0,0,0,0,81.18791,22.20703,0,0,0,0

### 5. 연도 이전 이후 더미 Regression (528개의 경우 : 담합 제외 X)

In [243]:
df_temp6.head(3)

,낙찰율(예대),Collusion,기초금액,dnumfirm2,d2011,d2012,d2013,d2014,d2015,d2016,d2017,d2018,d2019,d2020,d33,d66,dmaintain,tenderRatio,LnCash,db2013,db2014,db2017_a,db2017_b
2,0.77106,0,1514040000,3.00000,1,0,0,0,0,0,0,0,0,0,0,1,0,77.10555,21.13805,1,1,0,0
8,0.76853,0,1429000000,2.00000,1,0,0,0,0,0,0,0,0,0,0,1,0,76.85339,21.08024,1,1,0,0
9,0.74321,0,1346000000,2.00000,1,0,0,0,0,0,0,0,0,0,1,0,0,74.32124,21.02040,1,1,0,0

In [207]:
results1 = smf.ols('tenderRatio ~ Collusion + LnCash + dnumfirm2', data=df_temp6).fit()
results2 = smf.ols('tenderRatio ~ Collusion + LnCash + dnumfirm2 + d2011 + d2012 + d2013 + d2014 + d2015 + d2016 + d2017 + d2018 + d2019 + d2020', data=df_temp6).fit()
results3 = smf.ols('tenderRatio ~ Collusion + LnCash + dnumfirm2 + d2011 + d2012 + d2013 + d2014 + d2015 + d2016 + d2017 + d2018 + d2019 + d2020 + d33 + d66', data=df_temp6).fit()
results4 = smf.ols('tenderRatio ~ Collusion + LnCash + dnumfirm2 + d2011 + d2012 + d2013 + d2014 + d2015 + d2016 + d2017 + d2018 + d2019 + d2020 + d33 + d66 + dmaintain', data=df_temp6).fit()

results5 = smf.ols('tenderRatio ~ Collusion + LnCash + dnumfirm2 + db2013 + db2017_b', data=df_temp6).fit()
results6 = smf.ols('tenderRatio ~ Collusion + LnCash + dnumfirm2 + d33 + d66 + db2013 + db2017_b', data=df_temp6).fit()
results7 = smf.ols('tenderRatio ~ Collusion + LnCash + dnumfirm2 + d33 + d66 + dmaintain + db2013 + db2017_b', data=df_temp6).fit()


stargazer_tab = Stargazer([results1, results2, results3, results4, results5, results6, results7])
open('./V17/regression_528_사용제외.html', 'w').write(stargazer_tab.render_html())  # for latex

7728

In [208]:
"""FFFFFFFFFFFFFFIIIIIIIIIIIIIIIIIITTTTTTTTTTTTT"""

df_xmatrix = df_temp6.loc[(df_temp6['Collusion'] == 1) & (df_temp6['tenderRatio'] < 90)]
df_xmatrix.shape

(28, 23)

In [209]:
fitted = pd.concat([df_xmatrix['tenderRatio'],  results1.predict(df_xmatrix), results2.predict(df_xmatrix), results3.predict(df_xmatrix),
                    results4.predict(df_xmatrix), results5.predict(df_xmatrix), results6.predict(df_xmatrix), results7.predict(df_xmatrix)], axis = 1)

fitted.columns = ['tenderRatio', 'fitted1', 'fitted2', 'fitted3', 'fitted4', 'fitted5', 'fitted6', 'fitted7']

fitted_final = fitted.copy()
fitted_final['diff1'] = fitted['tenderRatio'] - fitted['fitted1'] + results1.params['Collusion']
fitted_final['diff2'] = fitted['tenderRatio'] - fitted['fitted2'] + results2.params['Collusion']
fitted_final['diff3'] = fitted['tenderRatio'] - fitted['fitted3'] + results3.params['Collusion']
fitted_final['diff4'] = fitted['tenderRatio'] - fitted['fitted4'] + results4.params['Collusion']
fitted_final['diff5'] = fitted['tenderRatio'] - fitted['fitted5'] + results5.params['Collusion']
fitted_final['diff6'] = fitted['tenderRatio'] - fitted['fitted6'] + results6.params['Collusion']
fitted_final['diff7'] = fitted['tenderRatio'] - fitted['fitted7'] + results7.params['Collusion']

fitted_final.to_csv('./V17/fitted_528_사용제외.csv', index = False)

In [210]:
## df_xmatrix = df_temp5.loc[(df_temp5['Collusion'] == 1) & (df_temp5['tenderRatio'] < 90)]

### 7. Exclude collusion

In [211]:
df_temp7 = df_temp6.loc[df_temp6['Collusion'] == 0]

results1 = smf.ols('tenderRatio ~ LnCash + dnumfirm2', data=df_temp7).fit()
results2 = smf.ols('tenderRatio ~ LnCash + dnumfirm2 + d2011 + d2012 + d2013 + d2014 + d2015 + d2016 + d2017 + d2018 + d2019 + d2020', data=df_temp7).fit()
results3 = smf.ols('tenderRatio ~ LnCash + dnumfirm2 + d2011 + d2012 + d2013 + d2014 + d2015 + d2016 + d2017 + d2018 + d2019 + d2020 + d33 + d66', data=df_temp7).fit()
results4 = smf.ols('tenderRatio ~ LnCash + dnumfirm2 + d2011 + d2012 + d2013 + d2014 + d2015 + d2016 + d2017 + d2018 + d2019 + d2020 + d33 + d66 + dmaintain', data=df_temp7).fit()

results5 = smf.ols('tenderRatio ~ LnCash + dnumfirm2 + db2014 + db2017_a', data=df_temp7).fit()
results6 = smf.ols('tenderRatio ~ LnCash + dnumfirm2 + d33 + d66 + db2014 + db2017_a', data=df_temp7).fit()
results7 = smf.ols('tenderRatio ~ LnCash + dnumfirm2 + d33 + d66 + dmaintain + db2014 + db2017_a', data=df_temp7).fit()


stargazer_tab = Stargazer([results1, results2, results3, results4, results5, results6, results7])
open('./V17/regression_498_사용제외.html', 'w').write(stargazer_tab.render_html())  # for latex

7343

In [212]:
fitted = pd.concat([df_xmatrix['tenderRatio'], results1.predict(df_xmatrix), results2.predict(df_xmatrix), results3.predict(df_xmatrix),
                    results4.predict(df_xmatrix), results5.predict(df_xmatrix), results6.predict(df_xmatrix), results7.predict(df_xmatrix)], axis = 1)

fitted.columns = ['tenderRatio','fitted1', 'fitted2', 'fitted3', 'fitted4', 'fitted5', 'fitted6', 'fitted7']

fitted_final = fitted.copy()
fitted_final['diff1'] = fitted['tenderRatio'] - fitted['fitted1'] 
fitted_final['diff2'] = fitted['tenderRatio'] - fitted['fitted2']
fitted_final['diff3'] = fitted['tenderRatio'] - fitted['fitted3']
fitted_final['diff4'] = fitted['tenderRatio'] - fitted['fitted4']
fitted_final['diff5'] = fitted['tenderRatio'] - fitted['fitted5']
fitted_final['diff6'] = fitted['tenderRatio'] - fitted['fitted6']
fitted_final['diff7'] = fitted['tenderRatio'] - fitted['fitted7']

fitted_final.to_csv('./V17/fitted_498_사용제외.csv', index = False)

In [213]:
df_temp6['Collusion'].sum()

28

### 8. 기초금액 50억 이상으로

In [ ]:
df_temp6 = df_temp5.loc[df_temp5['기초금액'] > 5000000000]

results1 = smf.ols('tenderRatio ~ Collusion + LnCash + dnumfirm2', data=df_temp6).fit()
results2 = smf.ols('tenderRatio ~ Collusion + LnCash + dnumfirm2 + d2011 + d2012 + d2013 + d2014 + d2015 + d2016 + d2017 + d2018 + d2019 + d2020', data=df_temp6).fit()
results3 = smf.ols('tenderRatio ~ Collusion + LnCash + dnumfirm2 + d2011 + d2012 + d2013 + d2014 + d2015 + d2016 + d2017 + d2018 + d2019 + d2020', data=df_temp6).fit()
results4 = smf.ols('tenderRatio ~ Collusion + LnCash + dnumfirm2 + d2011 + d2012 + d2013 + d2014 + d2015 + d2016 + d2017 + d2018 + d2019 + d2020 + dmaintain', data=df_temp6).fit()

stargazer_tab = Stargazer([results1, results2, results3, results4])
open('./V13/regression_50억.html', 'w').write(stargazer_tab.render_html())  # for latex

5002